[package]
name = "dragit"
version = "0.1.0"
authors = ["sireliah"]
edition = "2018"

[dependencies]
async-std = { version = "1.5.0", features = [ "unstable" ] }
blurz = "0.4.0"
directories = "2.0.2"
futures = "0.3.5"
gdk = "^0"
gio = "^0"
glib = "^0"
gtk = { version = "0.8.1", features = [ "v3_18" ] }
hex = "0.4.2"
libp2p = "0.19.0"
log = "0.4.8"
env_logger = "0.7"
md-5 = "0.8.0"
percent-encoding = "2.1.0"
