[package]
name = "dragit"
version = "0.1.0"
authors = ["sireliah"]
edition = "2018"
build = "build.rs"

[dependencies]
async-std = { version = "1.5.0", features = [ "unstable" ] }
directories = "2.0.2"
futures = "0.3.5"
gdk = "^0"
gio = "^0"
glib = "^0"
gtk = { version = "0.8.1", features = [ "v3_18" ] }
hex = "0.4.2"
libp2p = { version = "0.24.0", features = [ "dns", "websocket", "mplex", "mdns-async-std", "tcp-async-std", "noise" ], default-features = false }
libp2p-secio = "0.23.0"
log = "0.4.8"
env_logger = "0.7"
md-5 = "0.8.0"
percent-encoding = "2.1.0"

[dependencies.autovcpkg]
git = "https://github.com/fungos/autovcpkg.git"
version = "0.1.2019-10"
features = ["gtk", "cairo"]

[build-dependencies.autovcpkg]
git = "https://github.com/fungos/autovcpkg.git"
version = "0.1.2019-10"