[Desktop Entry]
Name=Dragit
Comment=Intuitive file sharing app for local network
Exec=dragit
Type=Application
Icon=com.sireliah.Dragit
Terminal=false
Categories=Utility
