[Desktop Entry]
Name=Dragit
Comment=Intuitive file sharing app for local network
Exec=com.sireliah.Dragit
Type=Application
Icon=com.sireliah.Dragit
Terminal=false